# Explore Exercises
1. Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

2. Answer those questions through a mix of statistical tests and visualizations.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

import acquire
import wrangle

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = acquire.get_zillow()

In [3]:
df.head()

,id,parcelid,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc
0,0,14297519,0.025595,2017-01-01,1727539,14297519,NaN,NaN,NaN,3.5,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
1,1,17052889,0.055619,2017-01-01,1387261,17052889,NaN,NaN,NaN,1.0,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
2,2,14186244,0.005383,2017-01-01,11677,14186244,NaN,NaN,NaN,2.0,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
3,3,12177905,-0.103410,2017-01-01,2288172,12177905,NaN,NaN,NaN,3.0,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None
4,4,10887214,0.006940,2017-01-01,1970746,10887214,1.0,NaN,NaN,3.0,...,NaN,None,2.0,Central,266,Condominium,NaN,None,NaN,None

In [4]:
def zillow_split(df, target):
    '''
    This function take in get_zillow  from aquire.py and performs a train, validate, test split
    Returns train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test
    and prints out the shape of train, validate, test
    '''
    #create train_validate and test datasets
    train, test = train_test_split(df, train_size = 0.8, random_state = 123)
    #create train and validate datasets
    train, validate = train_test_split(train, train_size = 0.7, random_state = 123)

    #Split into X and y
    X_train = train.drop(columns=[target])
    y_train = train[target]

    X_validate = validate.drop(columns=[target])
    y_validate = validate[target]

    X_test = test.drop(columns=[target])
    y_test = test[target]

    # Have function print datasets shape
    print(f'train -> {train.shape}')
    print(f'validate -> {validate.shape}')
    print(f'test -> {test.shape}')
   
    return train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test

In [5]:
train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.zillow_split(df, 'logerror')

train -> (43444, 77)
validate -> (18620, 77)
test -> (15516, 77)

In [16]:
#set variable to correlation
zillow_correlation = train.corr()

In [17]:
#shows correlation to log error
logerror_corr = zillow_correlation['logerror'].sort_values(ascending=False)
logerror_corr

logerror                        1.000000
basementsqft                    0.456891
buildingclasstypeid             0.391056
buildingclasstypeid             0.391056
yardbuildingsqft26              0.175675
poolsizesum                     0.048855
finishedsquarefeet12            0.043762
calculatedfinishedsquarefeet    0.039371
garagetotalsqft                 0.035306
bedroomcnt                      0.034465
garagecarcnt                    0.030147
calculatedbathnbr               0.029246
fullbathcnt                     0.027912
bathroomcnt                     0.026313
fireplacecnt                    0.024381
finishedsquarefeet6             0.019666
roomcnt                         0.017292
lotsizesquarefeet               0.013636
threequarterbathnbr             0.013482
longitude                       0.011826
parcelid                        0.010303
parcelid                        0.010303
finishedsquarefeet13            0.007681
structuretaxvaluedollarcnt      0.007351
censustractandblock             0.007056
fips                            0.006614
rawcensustractandblock          0.006583
id                              0.006406
unitcnt                         0.004588
taxvaluedollarcnt               0.003992
regionidcity                    0.002931
numberofstories                 0.002619
taxamount                       0.001813
landtaxvaluedollarcnt           0.001778
id                              0.000783
airconditioningtypeid           0.000411
airconditioningtypeid           0.000411
yearbuilt                       0.000266
typeconstructiontypeid          0.000162
typeconstructiontypeid          0.000162
regionidzip                    -0.003855
regionidneighborhood           -0.004056
heatingorsystemtypeid          -0.004396
heatingorsystemtypeid          -0.004396
latitude                       -0.007728
propertylandusetypeid          -0.012724
propertylandusetypeid          -0.012724
regionidcounty                 -0.013135
buildingqualitytypeid          -0.016183
finishedfloor1squarefeet       -0.017510
finishedsquarefeet50           -0.021634
yardbuildingsqft17             -0.028814
architecturalstyletypeid       -0.030173
architecturalstyletypeid       -0.030173
finishedsquarefeet15           -0.034659
taxdelinquencyyear             -0.082106
decktypeid                           NaN
hashottuborspa                       NaN
poolcnt                              NaN
pooltypeid10                         NaN
pooltypeid2                          NaN
pooltypeid7                          NaN
storytypeid                          NaN
fireplaceflag                        NaN
assessmentyear                       NaN
storytypeid                          NaN
Name: logerror, dtype: float64