# Mall Customers Exercises

## notebook

1. Acquire data from mall_customers.customers in mysql database.
2. Summarize data (include distributions and descriptive statistics).
3. Detect outliers using IQR.
4. Split data (train, validate, and test split).
5. Encode categorical columns using a one hot encoder (pd.get_dummies).
6. Handles missing values.
7. Scaling

## wrangle_mall.py

1. Acquire data from mall_customers.customers in mysql database.
2. Split the data into train, validate, and split
3. One-hot-encoding (pd.get_dummies)
4. Missing values
5. Scaling

In [12]:
#import libraries
import pandas as pd
import numpy as np
import os
from pydataset import data
import scipy.stats as stats
import wrangle
import matplotlib.pyplot as plt

# acquire
from env import host, user, password
import acquire

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

#### #1 Acquire data from mall_customers.customers in mysql database.

In [2]:
#function in acquire.py
def get_connection(db_name):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    from env import host, user, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [3]:
#function in acquire.py
def get_mall_customers():
    '''
    This function reads in the mall_customers data from the Codeup db
    returns: a pandas DataFrame 
    '''
    
    mall_query = '''
    SELECT *
    FROM customers
    '''
    return pd.read_sql(mall_query, get_connection('mall_customers'))

In [4]:
df = acquire.get_mall_customers()

In [5]:
#look at data
df.head()

             gender  age  annual_income  spending_score
customer_id
1              Male   19             15              39
2              Male   21             15              81
3            Female   20             16               6
4            Female   23             16              77
5            Female   31             17              40

#### #2 Summarize data (include distributions and descriptive statistics).

In [6]:
def summarize(df):
    '''
    this function will take in a single argument (a pandas df) 
    output to console various statistics on said dataframe, including:
    #.head()
    #.info()
    #.describe()
    #.value_counts()
    #observation of nulls in the dataframe
    '''
    #print head
    print('=================================================')
    print('Dataframe head: ')
    print(df.head(3))
    
    #print info
    print('=================================================')
    print('Dataframe info: ')
    print(df.info())
    
    #print descriptive stats
    print('=================================================')
    print('DataFrame Description')
    print(df.describe())
    num_cols = df.select_dtypes(exclude='O').columns.to_list()
    cat_cols = df.select_dtypes(include='O').columns.to_list()
    
    #print value counts
    print('=================================================')
    print('Dataframe value counts: ')
    for col in df. columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort = False))
    
    #print nulls by column
    print('=================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    
    #print nulls by column
    print('=================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=================================================')

In [7]:
df = wrangle.summarize(df)

=================================================
Dataframe head:
             gender  age  annual_income  spending_score
customer_id
1              Male   19             15              39
2              Male   21             15              81
3            Female   20             16               6
=================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          200 non-null    object
 1   age             200 non-null    int64
 2   annual_income   200 non-null    int64
 3   spending_score  200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.8+ KB
None
=================================================
DataFrame Description
              age  annual_income  spending_score
count  200.000000     200.000000      200.000000
mean    38.850000      60.560000       50.200000
std     13.969007      26.264721       25.823522
min     18.000000      15.000000        1.000000
25%     28.750000      41.500000       34.750000
50%     36.000000      61.500000       50.000000
75%     49.000000      78.000000       73.000000
max     70.000000     137.000000       99.000000
=================================================
Dataframe value counts:
Female    112
Male       88
Name: gender, dtype: int64
(17.947, 23.2]    31
(23.2, 28.4]      19
(28.4, 33.6]      34
(33.6, 38.8]      29
(38.8, 44.0]      18
(44.0, 49.2]      24
(49.2, 54.4]      15
(54.4, 59.6]      10
(59.6, 64.8]       6
(64.8, 70.0]      14
Name: age, dtype: int64
(14.877, 27.2]    24
(27.2, 39.4]      22
(39.4, 51.6]      28
(51.6, 63.8]      38
(63.8, 76.0]      32
(76.0, 88.2]      34
(88.2, 100.4]      8
(100.4, 112.6]     6
(112.6, 124.8]     4
(124.8, 137.0]     4
Name: annual_income, dtype: int64
(0.901, 10.8]    16
(10.8, 20.6]     20
(20.6, 30.4]     10
(30.4, 40.2]     17
(40.2, 50.0]     40
(50.0, 59.8]     32
(59.8, 69.6]     11
(69.6, 79.4]     24
(79.4, 89.2]     14
(89.2, 99.0]     16
Name: spending_score, dtype: int64
=================================================
nulls in dataframe by column:
                num_rows_missing  pct_rows_missing
gender                         0               0.0
age                            0               0.0
annual_income                  0               0.0
spending_score                 0               0.0
=================================================
nulls in dataframe by row:
  num_cols_missing pct_cols_missing  customer_id
0                0              0.0          200
=================================================

#### #3 Detect outliers using IQR.

In [8]:
def detect_outliers(df, k, col_list):
    ''' 
    get upper and lower bound for list of columns in a dataframe 
    if desired return that dataframe with the outliers removed
    '''
    
    odf = pd.DataFrame()
    
    for col in col_list:
        
        # get quartiles
        q1, q2, q3 = df[f'{col}'].quantile([.25, .5, .75])  
        
        # calculate interquartile range
        iqr = q3 - q1   
        
        # get upper bound
        upper_bound = q3 + k * iqr
        # get lower bound
        lower_bound = q1 - k * iqr   
        
        # print each col and upper and lower bound for each column
        print(f"{col}: Median = {q2} lower_bound = {lower_bound} upper_bound = {upper_bound}")

        # return dataframe of outliers
        odf = odf.append(df[(df[f'{col}'] < lower_bound) | (df[f'{col}'] > upper_bound)])
            
    return odf

In [9]:
odf = detect_outliers(df, 1.5,['age', 'annual_income', 'spending_score'])

TypeError: 'NoneType' object is not subscriptable

#### #4 Split data (train, validate, and test split).

In [15]:
#function from wrangle.py
def zillow_split(df, target):
    '''
    This function take in get_zillow  from aquire.py and performs a train, validate, test split
    Returns train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test
    and prints out the shape of train, validate, test
    '''
    #create train_validate and test datasets
    train, test = train_test_split(df, train_size = 0.8, random_state = 123)
    #create train and validate datasets
    train, validate = train_test_split(train, train_size = 0.7, random_state = 123)

    #Split into X and y
    X_train = train.drop(columns=[target])
    y_train = train[target]

    X_validate = validate.drop(columns=[target])
    y_validate = validate[target]

    X_test = test.drop(columns=[target])
    y_test = test[target]

    # Have function print datasets shape
    print(f'train -> {train.shape}')
    print(f'validate -> {validate.shape}')
    print(f'test -> {test.shape}')
   
    return train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test

In [16]:
train, validate, test = wrangle.zillow_split(df, 'logerror')

TypeError: Expected sequence or array-like, got <class 'NoneType'>

#### #5 Encode categorical columns using a one hot encoder (pd.get_dummies).

#### #6 Handles missing values

In [ ]:
#there are no missing values

#### #7 Scaling

In [ ]:
#use min_max_scaler
#age, income, spending score