In [1]:
#import libraries
import pandas as pd
import numpy as np
import os
from pydataset import data

# acquire
from env import host, user, password

### acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.
- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

<hr style="border:3px solid black"> </hr>

#### #1 Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

In [2]:
def get_connection(db_name):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    from env import host, user, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [3]:
def get_zillow():
    '''
    This function reads in the Zillow data from the Codeup db
    with properties_2017, predictions_2017 and propertylandusetype tables joined
    returns: a pandas DataFrame 
    '''
    
    zp_query = '''
    SELECT *
    FROM predictions_2017
    LEFT JOIN properties_2017 ON predictions_2017.parcelid = properties_2017.parcelid
    LEFT JOIN airconditioningtype ON properties_2017.airconditioningtypeid= airconditioningtype.airconditioningtypeid
    LEFT JOIN architecturalstyletype ON properties_2017.architecturalstyletypeid= architecturalstyletype.architecturalstyletypeid
    LEFT JOIN buildingclasstype ON properties_2017.buildingclasstypeid= buildingclasstype.buildingclasstypeid
    LEFT JOIN heatingorsystemtype ON properties_2017.heatingorsystemtypeid= heatingorsystemtype.heatingorsystemtypeid
    LEFT JOIN propertylandusetype ON properties_2017.propertylandusetypeid= propertylandusetype.propertylandusetypeid
    LEFT JOIN storytype ON properties_2017.storytypeid= storytype.storytypeid
    LEFT JOIN typeconstructiontype ON properties_2017.typeconstructiontypeid= typeconstructiontype.typeconstructiontypeid
    where properties_2017.latitude is not null and properties_2017.longitude is not null
    '''
    return pd.read_sql(zp_query, get_connection('zillow'))

In [4]:
df= get_zillow()

In [5]:
df.head()

,id,parcelid,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc
0,0,14297519,0.025595,2017-01-01,1727539,14297519,NaN,NaN,NaN,3.5,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
1,1,17052889,0.055619,2017-01-01,1387261,17052889,NaN,NaN,NaN,1.0,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
2,2,14186244,0.005383,2017-01-01,11677,14186244,NaN,NaN,NaN,2.0,...,NaN,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None
3,3,12177905,-0.103410,2017-01-01,2288172,12177905,NaN,NaN,NaN,3.0,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None
4,4,10887214,0.006940,2017-01-01,1970746,10887214,1.0,NaN,NaN,3.0,...,NaN,None,2.0,Central,266,Condominium,NaN,None,NaN,None

In [6]:
df.shape

(77580, 77)

In [7]:
#shape: 77580, 77
#2932 rows with nulls in both logitude and latitude

In [8]:
df = df.sort_values('transactiondate').drop_duplicates('parcelid', keep= 'last')

In [9]:
df.shape

(77381, 77)

In [10]:
#new shape: ater dropping duplicates (77381, 77)
#199 rows with duplicates were dropped

<hr style="border:2px solid black"> </hr>

#### #2 Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [11]:
#summarize data in the df
#head, info, describe, value counts, nulls

def summarize(df):
    '''
    this function will take in a single argument (a pandas df) 
    output to console various statistics on said dataframe, including:
    #.head()
    #.info()
    #.describe()
    #.value_counts()
    #observation of nulls in the dataframe
    '''
    #print head
    print('=================================================')
    print('Dataframe head: ')
    print(df.head(3))
    
    #print info
    print('=================================================')
    print('Dataframe info: ')
    print(df.info())
    
    #print descriptive stats
    print('=================================================')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [cols for col in df.columns if df[col].dtype != 'O']
    cat_cols = [cols for col in df.columns if col not in num_cols]
    
    #print value counts
    print('=================================================')
    print('Dataframe value counts: ')
    for col in df. columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort = False))
    
    #print nulls by column
    print('=================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    
    #print nulls by column
    print('=================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=================================================')

In [12]:
summary_df = summarize(df)

=================================================
Dataframe head:
   id  parcelid  logerror transactiondate       id  parcelid  \
0   0  14297519  0.025595      2017-01-01  1727539  14297519
1   1  17052889  0.055619      2017-01-01  1387261  17052889
2   2  14186244  0.005383      2017-01-01    11677  14186244

   airconditioningtypeid  architecturalstyletypeid  basementsqft  bathroomcnt  \
0                    NaN                       NaN           NaN          3.5
1                    NaN                       NaN           NaN          1.0
2                    NaN                       NaN           NaN          2.0

   ...  buildingclasstypeid  buildingclassdesc  heatingorsystemtypeid  \
0  ...                  NaN               None                    NaN
1  ...                  NaN               None                    NaN
2  ...                  NaN               None                    NaN

   heatingorsystemdesc  propertylandusetypeid        propertylandusedesc  \
0                 None                    261  Single Family Residential
1                 None                    261  Single Family Residential
2                 None                    261  Single Family Residential

   storytypeid  storydesc  typeconstructiontypeid  typeconstructiondesc
0          NaN       None                     NaN                  None
1          NaN       None                     NaN                  None
2          NaN       None                     NaN                  None

[3 rows x 77 columns]
=================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77579
Data columns (total 77 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77381 non-null  int64
 1   parcelid                      77381 non-null  int64
 2   logerror                      77381 non-null  float64
 3   transactiondate               77381 non-null  object
 4   id                            77381 non-null  int64
 5   parcelid                      77381 non-null  int64
 6   airconditioningtypeid         24953 non-null  float64
 7   architecturalstyletypeid      206 non-null    float64
 8   basementsqft                  50 non-null     float64
 9   bathroomcnt                   77381 non-null  float64
 10  bedroomcnt                    77381 non-null  float64
 11  buildingclasstypeid           15 non-null     float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  heatingorsystemtypeid         49440 non-null  float64
 29  latitude                      77381 non-null  float64
 30  longitude                     77381 non-null  float64
 31  lotsizesquarefeet             69142 non-null  float64
 32  poolcnt                       16137 non-null  float64
 33  poolsizesum                   867 non-null    float64
 34  pooltypeid10                  464 non-null    float64
 35  pooltypeid2                   1074 non-null   float64
 36  pooltypeid7                   15042 non-null  float64
 37  propertycountylandusecode     77381 non-null  object
 38  propertylandusetypeid         77381 non-null  float64
 39  propertyzoningdesc            50331 non-null  object
 40  rawcensustractandblock        77381 non-null  float64
 41  regionidcity                  75910 non-null  float64
 42  regionidcounty                77381 non-null  float64
 43  regionidneighborhood          30890 non-null  float64
 44  regionidzip                   77331 non-null  float64
 45  roomcnt                       77381 non-null  float64
 46  storytypeid                   50 non-null     float64
 47  threequarterbathnbr           10096 non-null  float64
 48  typeconstructiontypeid        222 non-null    float64
 49  unitcnt                       50563 non-null  float64
 50  yardbuildingsqft17            2388 non-null   float64
 51  yardbuildingsqft26            70 non-null     float64
 52  yearbuilt                     77118 non-null  float64
 53  numberofstories               17560 non-null  float64
 54  fireplaceflag                 172 non-null    float64
 55  structuretaxvaluedollarcnt    77269 non-null  float64
 56  taxvaluedollarcnt             77380 non-null  float64
 57  assessmentyear                77381 non-null  float64
 58  landtaxvaluedollarcnt         77379 non-null  float64
 59  taxamount                     77376 non-null  float64
 60  taxdelinquencyflag            2886 non-null   object
 61  taxdelinquencyyear            2886 non-null   float64
 62  censustractandblock           77137 non-null  float64
 63  airconditioningtypeid         24953 non-null  float64
 64  airconditioningdesc           24953 non-null  object
 65  architecturalstyletypeid      206 non-null    float64
 66  architecturalstyledesc        206 non-null    object
 67  buildingclasstypeid           15 non-null     float64
 68  buildingclassdesc             15 non-null     object
 69  heatingorsystemtypeid         49440 non-null  float64
 70  heatingorsystemdesc           49440 non-null  object
 71  propertylandusetypeid         77381 non-null  int64
 72  propertylandusedesc           77381 non-null  object
 73  storytypeid                   50 non-null     float64
 74  storydesc                     50 non-null     object
 75  typeconstructiontypeid        222 non-null    float64
 76  typeconstructiondesc          222 non-null    object
dtypes: float64(61), int64(5), object(11)
memory usage: 46.0+ MB
None
=================================================
Dataframe Description:
                 id      parcelid      logerror            id      parcelid  \
count  77381.000000  7.738100e+04  77381.000000  7.738100e+04  7.738100e+04
mean   38848.692754  1.300715e+07      0.016625  1.495139e+06  1.300715e+07
std    22402.429065  3.481346e+06      0.170191  8.609071e+05  3.481346e+06
min        0.000000  1.071186e+07     -4.655420  3.490000e+02  1.071186e+07
25%    19461.000000  1.153830e+07     -0.024377  7.520700e+05  1.153830e+07
50%    38870.000000  1.253157e+07      0.006627  1.497932e+06  1.253157e+07
75%    58253.000000  1.421183e+07      0.039203  2.240535e+06  1.421183e+07
max    77613.000000  1.676893e+08      5.262999  2.982274e+06  1.676893e+08

       airconditioningtypeid  architecturalstyletypeid  basementsqft  \
count           24953.000000                206.000000     50.000000
mean                1.813289                  7.388350    679.720000
std                 2.967894                  2.734542    689.703546
min                 1.000000                  2.000000     38.000000
25%                 1.000000                  7.000000    273.000000
50%                 1.000000                  7.000000    515.000000
75%                 1.000000                  7.000000    796.500000
max                13.000000                 21.000000   3560.000000

        bathroomcnt    bedroomcnt  ...      taxamount  taxdelinquencyyear  \
count  77381.000000  77381.000000  ...   77376.000000         2886.000000
mean       2.299130      3.053489  ...    5995.532346           14.087318
std        0.996651      1.139096  ...    7622.844153            2.185663
min        0.000000      0.000000  ...      19.920000            3.000000
25%        2.000000      2.000000  ...    2715.632500           14.000000
50%        2.000000      3.000000  ...    4450.695000           15.000000
75%        3.000000      4.000000  ...    6927.790000           15.000000
max       18.000000     16.000000  ...  586639.300000           99.000000

       censustractandblock  airconditioningtypeid  architecturalstyletypeid  \
count         7.713700e+04           24953.000000                206.000000
mean          6.049673e+13               1.813289                  7.388350
std           1.535242e+12               2.967894                  2.734542
min           6.037101e+13               1.000000                  2.000000
25%           6.037311e+13               1.000000                  7.000000
50%           6.037603e+13               1.000000                  7.000000
75%           6.059042e+13               1.000000                  7.000000
max           4.830301e+14              13.000000                 21.000000

       buildingclasstypeid  heatingorsystemtypeid  propertylandusetypeid  \
count            15.000000           49440.000000           77381.000000
mean              3.933333               3.920510             261.826340
std               0.258199               3.592779               5.141199
min               3.000000               1.000000              31.000000
25%               4.000000               2.000000             261.000000
50%               4.000000               2.000000             261.000000
75%               4.000000               7.000000             266.000000
max               4.000000              24.000000             275.000000

       storytypeid  typeconstructiontypeid
count         50.0              222.000000
mean           7.0                6.040541
std            0.0                0.557285
min            7.0                4.000000
25%            7.0                6.000000
50%            7.0                6.000000
75%            7.0                6.000000
max            7.0               13.000000

[8 rows x 66 columns]

AttributeError: 'DataFrame' object has no attribute 'dtype'

<hr style="border:2px solid black"> </hr>

#### #3 Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [13]:
#get nulls by column
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'pct_rows_missing': prcnt_miss})
    return cols_missing

In [14]:
cols_missing = nulls_by_col(df)
cols_missing

                              num_rows_missing  pct_rows_missing
id                                           0          0.000000
parcelid                                     0          0.000000
logerror                                     0          0.000000
transactiondate                              0          0.000000
id                                           0          0.000000
parcelid                                     0          0.000000
airconditioningtypeid                    52428         67.753066
architecturalstyletypeid                 77175         99.733785
basementsqft                             77331         99.935385
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      77366         99.980615
buildingqualitytypeid                    27709         35.808532
calculatedbathnbr                          609          0.787015
decktypeid                               76767         99.206524
finishedfloor1squarefeet                 71358         92.216436
calculatedfinishedsquarefeet               196          0.253292
finishedsquarefeet12                      3632          4.693659
finishedsquarefeet13                     77340         99.947015
finishedsquarefeet15                     74372         96.111449
finishedsquarefeet50                     71358         92.216436
finishedsquarefeet6                      76995         99.501170
fips                                         0          0.000000
fireplacecnt                             69105         89.304868
fullbathcnt                                609          0.787015
garagecarcnt                             51907         67.079774
garagetotalsqft                          51907         67.079774
hashottuborspa                           75843         98.012432
heatingorsystemtypeid                    27941         36.108347
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                         8239         10.647317
poolcnt                                  61244         79.146044
poolsizesum                              76514         98.879570
pooltypeid10                             76917         99.400370
pooltypeid2                              76307         98.612062
pooltypeid7                              62339         80.561120
propertycountylandusecode                    0          0.000000
propertylandusetypeid                        0          0.000000
propertyzoningdesc                       27050         34.956902
rawcensustractandblock                       0          0.000000
regionidcity                              1471          1.900983
regionidcounty                               0          0.000000
regionidneighborhood                     46491         60.080640
regionidzip                                 50          0.064615
roomcnt                                      0          0.000000
storytypeid                              77331         99.935385
threequarterbathnbr                      67285         86.952870
typeconstructiontypeid                   77159         99.713108
unitcnt                                  26818         34.657086
yardbuildingsqft17                       74993         96.913971
yardbuildingsqft26                       77311         99.909539
yearbuilt                                  263          0.339877
numberofstories                          59821         77.307091
fireplaceflag                            77209         99.777723
structuretaxvaluedollarcnt                 112          0.144738
taxvaluedollarcnt                            1          0.001292
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        2          0.002585
taxamount                                    5          0.006462
taxdelinquencyflag                       74495         96.270402
taxdelinquencyyear                       74495         96.270402
censustractandblock                        244          0.315323
airconditioningtypeid                    52428         67.753066
airconditioningdesc                      52428         67.753066
architecturalstyletypeid                 77175         99.733785
architecturalstyledesc                   77175         99.733785
buildingclasstypeid                      77366         99.980615
buildingclassdesc                        77366         99.980615
heatingorsystemtypeid                    27941         36.108347
heatingorsystemdesc                      27941         36.108347
propertylandusetypeid                        0          0.000000
propertylandusedesc                          0          0.000000
storytypeid                              77331         99.935385
storydesc                                77331         99.935385
typeconstructiontypeid                   77159         99.713108
typeconstructiondesc                     77159         99.713108

<hr style="border:2px solid black"> </hr>

#### #4 Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [15]:
#get nulls by row
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'pct_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'pct_cols_missing']).count()\
    .rename(index=str, columns={'index':'num_rows'}).reset_index()
    return rows_missing

In [16]:
rows_missing = nulls_by_row(df)
rows_missing

   num_cols_missing    pct_cols_missing  num_rows
0                25  32.467532467532465         2
1                26   33.76623376623377        11
2                27  35.064935064935064        21
3                28   36.36363636363637        39
4                29   37.66233766233766        43
5                30  38.961038961038966        36
6                31   40.25974025974026       230
7                32   41.55844155844156       178
8                33  42.857142857142854      4827
9                34   44.15584415584416      3304
10               35   45.45454545454545      6943
11               36   46.75324675324675     10743
12               37   48.05194805194805      4536
13               38   49.35064935064935     12748
14               39  50.649350649350644     13909
15               40   51.94805194805194      3264
16               41  53.246753246753244      4598
17               42   54.54545454545454      5832
18               43   55.84415584415584      3470
19               44   57.14285714285714      1913
20               45   58.44155844155844       285
21               46   59.74025974025974       230
22               47  61.038961038961034        29
23               48   62.33766233766234        23
24               49   63.63636363636363        28
25               50   64.93506493506493        78
26               51   66.23376623376623        50
27               52   67.53246753246754         5
28               53   68.83116883116884         3
29               54   70.12987012987013         3

<hr style="border:3px solid black"> </hr>

## Prepare:

#### #1. Remove any properties that are likely to be something other than single unit properties.

In [17]:
#this will show you the types
df.propertylandusedesc.value_counts()

Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [ ]:
#remove all properties that landusetypeid does not qualify 
df = df[(df.propertylandusedesc == 'Single Family Residential') 
        (df.propertylandusedesc == 'Mobile Home') 
        (df.propertylandusedesc == 'Manufactured, Modular, Prefabricated Homes') 
        (df.propertylandusedesc == 'Townhouse')]

#### #2 Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [18]:
def remove_outliers(df, k, col_list):
    for col in col_list:
        q1, q3 = df[f'{col}'].quartile([.25,.75]) #get quartiles
        iqr = q3-q1 #calculate iqr
        upper_bound = q3 + k * iqr
        upper_bound = q1 - k * iqr
        
        df = df[(df[f'{col}'] > lower_bound) & (df[f'{col}'] < upper_bound)]

#### #3 Decide how to handle the remaining missing values:
- Fill with constant value.
- Impute with mean, median, mode.
- Drop row/column

In [ ]:
#filling or imputing the data is not correct in this case
#it would slant the data too much
#removing nulls is the best choice for this case

In [ ]:
def handle_missing_values(df, prop_required_column = .60, prop_required_row = .60):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

<hr style="border:3px solid black"> </hr>

# Mall Data

1. Acquire data from mall_customers.customers in mysql database.
2. Summarize data (include distributions and descriptive statistics).
3. Detect outliers using IQR.
4. Split data (train, validate, and test split).
5. Encode categorical columns using a one hot encoder (pd.get_dummies).
6. Handles missing values.
7. Scaling

#### #1 Acquire data from mall_customers.customers in mysql database.

In [19]:
def get_mall_customers():
    '''
    This function reads in the mall_customers data from the Codeup db
    returns: a pandas DataFrame 
    '''
    
    zp_query = '''
    SELECT *
    FROM customers
    '''
    return pd.read_sql(zp_query, get_connection('mall_customers'))

In [20]:
df = get_mall_customers()

In [21]:
df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

#### #2 Summarize data (include distributions and descriptive statistics).

In [25]:
import wrangle

In [23]:
df = wrangle.summarize(df)

=================================================
Dataframe head:
   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
=================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
=================================================
Dataframe Description:
       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

NameError: name 'cols' is not defined

#### #3 Detect outliers using IQR.

In [26]:
#age
age_outliers = wrangle.outlier_bound_calculation(df, 'age')

NameError: name 'np' is not defined

In [ ]:
#annual income
#spending score

#### #4 Split data (train, validate, and test split).

In [ ]:
#use train validate split

#### #5 Encode categorical columns using a one hot encoder (pd.get_dummies).

#### #6 Handles missing values

In [ ]:
#there are no missing values

#### #7 Scaling

In [ ]:
#use min_max_scaler
#age, income, spending score